[Desktop Entry]
Type=Application
Version=1.0
GenericName=Packaging tools
Name=Deb tools
Comment=Tools for deb binary packages
Exec=xdg-open https://github.com/igatjens/deb-tools/wiki
Icon=/usr/share/icons/hicolor/scalable/apps/deb-tools.svg
Terminal=false
Categories=Development
StartupNotify=false
X-GNOME-Autostart-Delay=60
Name[zh_CN]=Deb tools
Name[zh_TW]=Deb tools
Name[en]=Deb tools
Name[es]=Deb tools
Name[fr]=Deb tools
Name[it]=Deb tools
Name[pt]=Deb tools
Name[pt_BR]=Deb tools
Name[sr]=Deb tools
Name[ru]=Deb tools
Name[tr]=Deb tools
Comment[zh_CN]=deb 二进制包的工具
Comment[zh_TW]=deb 二进制包的工具
Comment[en]=Tools for deb binary packages
Comment[es]=Herramientas para paquetes binarios deb
Comment[fr]=Outils pour les paquets binaires deb
Comment[it]=Strumenti per pacchetti binari deb
Comment[pt]=Ferramentas para pacotes binários deb
Comment[pt_BR]=Ferramentas para pacotes binários deb
Comment[sr]=Алати за деб бинарне пакете
Comment[ru]=Инструменты для двоичных пакетов deb
Comment[tr]=deb ikili paketleri için araçlar
