Package: deb-tools
Version: 0:1.0-0+deepines
Architecture: amd64
Installed-Size: 56
Section: admin
Maintainer: Isaías Gätjens M <igatjens@gmail.com>
Homepage: https://github.com/igatjens/deb-tools
Priority: optional
Pre-Depends: dpkg (>= 1.5)
Depends: dpkg (>= 1.5), sed (>=4.5), grep (>=3.1), fakeroot (>=1.20), coreutils (>=8.20)
Replaces: 
Conflicts: 
Urgency: low
Description: Herramientas de empaquetado
 Herramientas para crear, mantener, auditar y administrar archivos deb
